.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  div {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

.parent {
  margin-bottom: 0px;
}

.select [class*="formSelect__input-container"] {
  height: 0px;
  width: 0px;
  margin: 0;
  display: none;
}

.select [class*="formSelect__value-container"] {
  padding: 0 0 0 1rem;
}

.select [class*="formSelect__dropdown-indicator"] {
  padding: 5px 0px;
}

.select [class*="formSelect__control"] {
  margin-top: 0;
  border: none;
  border-radius: 8px;
  background: #fff;
  background: rgba(33, 63, 125, 0.1);
  font-size: 14px;
}

.select [class*="formSelect__placeholder"] {
  color: var(--text-main);
  font-weight: 600;
  font-size: 14px;
}

.select {
  svg {
    path {
      fill: var(--text-tetiary);
    }
  }
}

.inputBox {
  padding: 6px 10px;
  height: 46px;
  display: flex;
  align-items: center;
  gap: 15px;

  .current {
    color: var(--text-other);
  }

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px 5px;
    background: rgba(33, 63, 125, 0.1);
    border-radius: 4px;
  }

  div {
    color: rgba(84, 95, 125, 0.6);
  }
}


.btn {
  cursor: pointer;
}

.input {
  width: 100%;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: 500;
}

.inputBox span {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-left: 4px;
}

.inputBox span svg {
  width: 18px;
  padding: 4px;
}

.inputBox span svg path {
  fill: var(--black);
}

.down {
  transform: rotate(180deg);
}

.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

@media screen and (max-width: 600px) {
  .pagination {
    div {
      display: none;
    }
  }
}