.userProfile {
  padding: 22px 1.5rem 0rem 2.1rem;
  color: rgba(33, 63, 125, 1);
}

* {
  // border: 1px solid;
}

.backBtn {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 0;
  font-weight: 300;
  color: rgba(84, 95, 125, 1);
  font-size: 16px;

  svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
}

.section {
  margin-bottom: 2rem;
  margin-top: 5px;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;

    .profile {
      display: flex;
      gap: 10px;
    }

    .buttons {
      display: flex;
      gap: 20px;

      .blacklistBtn {
        border: 1px solid rgba(228, 3, 59, 1);
        border-radius: 8px;
        color: rgba(228, 3, 59, 1);
        background: transparent;
        font-weight: 700;
      }

      .activeBtn {
        border: 1px solid rgba(57, 205, 204, 1);
        border-radius: 8px;
        color: rgba(57, 205, 204, 1);
        background: transparent;
        font-weight: 700;
      }
    }
  }

  .content {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
    gap: 1rem;
    background: #fff;
    padding: 30px 30px 0px 30px;
    border-radius: 5px;
    margin-bottom: 1rem;

    .first {
      display: flex;
      align-items: center;
      margin-bottom: 50px;

      .userIcon {
        width: 95px;
        height: 95px;
        background: rgba(33, 63, 125, 0.16);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 2%;
        gap: 8px;

        .username {
          font-size: 22px;
          font-weight: 700;
        }

        .userId {
          color: rgba(84, 95, 125, 1);
        }
      }

      .tier {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-left: 1px solid rgba(84, 95, 125, 0.2);
        border-right: 1px solid rgba(84, 95, 125, 0.2);
        padding: 18px 3%;
        margin: 0px 0;

        p {
          margin-bottom: 10px;
        }

        span {
          display: flex;
          justify-content: center;
        }
      }

      .bank {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 3%;

        span {
          color: rgba(33, 63, 125, 1);
          font-weight: 700;
          font-size: 22px;
          margin-bottom: 10px;

          .fill {
            margin-right: 700px;
            fill: #E9B200;

            path {
              stroke: black;
              fill: #E9B200;
            }
          }

          .empty {
            path {
              fill: white
            }
          }
        }

        p {
          font-size: 11px;
        }
      }
    }

    .second {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;


      .active {
        border-bottom: 2px solid rgba(57, 205, 204, 1);
        cursor: pointer;
        color: rgba(57, 205, 204, 1);
      }

      span:hover,
      span:active,
      span:visited {
        border-bottom: 2px solid rgba(57, 205, 204, 1);
        cursor: pointer;
        color: rgba(57, 205, 204, 1);
      }

      span {
        color: rgba(0, 0, 0, 0.8);
        font-size: 16px;
        text-align: center;
        display: block;
        padding-bottom: 10px;
      }
    }
  }

  .table {
    padding: 30px 30px 0px 30px;
    background: #fff;
    border-radius: 5px;

    .personal {
      border-bottom: 1px solid rgba(33, 63, 125, 0.1);
      margin-bottom: 30px;

      .head {
        font-size: 16px;
        margin-bottom: 30px;
      }

      .body {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        .name {
          margin-bottom: 20px;

          .subhead {
            color: rgba(84, 95, 125, 0.7);
            font-size: 11px;
            margin-bottom: 10px;
          }

          p {
            font-size: 16px;
            color: rgba(84, 95, 125, 1);
          }
        }
      }

    }

    .education {
      .body {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

    }
  }

}