.users {
  padding: 23px 12%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  background-color: #fff;
  border: 2px solid var(--grey-4);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.03);
  border-radius: 5px;

  .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f8edf9;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .userss {
    background: rgba(223, 24, 255, 0.1);
  }

  .active {
    background: rgba(87, 24, 255, 0.1);
  }

  .loans {
    background: rgba(245, 95, 68, 0.1);
  }

  .savings {
    background: rgba(255, 51, 102, 0.1);
  }

  .usersHead {
    font-size: var(--body-text);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
  }

  .usersNumber {
    font-size: var(--heading-3);
    font-weight: 700;
    color: var(--text-main);
  }


}