.users {
  padding: 22px 1.5rem 0rem 2.1rem;
  position: relative;

  .ttl {
    color: var(--text-main);
    font-size: 22px;
    font-weight: 600;
    position: relative;
    margin-bottom: 2.5rem;

    span {
      color: var(--text-secondary);
      font-size: 80%;
      font-weight: 400;
      margin-left: 2px;
    }
  }

  .miniCard {
    width: 100%;
    margin: 24px 0px 40px 0px;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .users {
      padding: 16px 10px;
      width: 100%;
      background-color: #fff;
      border: 2px solid var(--grey-4);
      border-radius: 12px;
      cursor: pointer;

      .usersHead {
        font-size: 14px;
        font-weight: 500;
        display: flex;
        justify-content: space-between;
        color: var(--text-otherrs);
      }

      .usersNumber {
        font-size: var(--heading-4);
        font-weight: 600;
        color: var(--text-main);
      }
    }
  }

  .ttl::before {
    content: "";
    background: var(--green);
    width: 20px;
    height: 40px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .search {
    width: 100%;
    max-width: 250px;
    margin-left: 12px;
  }

  .searchFilter {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
  }

  section.tableHeader,
  div.tableBodyItem {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 1.2fr 0.9fr 1.2fr 1fr;
    gap: 1rem;
    font-size: 13px;
  }

  .tableBodyStatus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    .statusItem {
      padding: 0.3rem 0.7rem;
      border-radius: 12px;
    }

    .inactive {
      background: rgba(84, 95, 125, 0.06);
      color: var(--text-other);
    }

    .active {
      background: rgba(57, 205, 98, 0.6);
      color: rgba(57, 205, 98, 1);
    }

    .pending {
      background: rgba(233, 178, 0, 0.1);
      color: rgba(233, 178, 0, 1);

    }

    .blacklisted {
      background: rgba(228, 3, 59, 0.1);
      color: rgba(228, 3, 59, 1);
    }
  }

  .tableWrap {
    min-width: 700px;
  }
}

@media screen and (max-width: 1300px) {
  .users {

    section.tableHeader,
    div.tableBodyItem {
      display: grid;
      grid-template-columns: 0.8fr 0.8fr 1fr 1fr 1.2fr 0.9fr;
      gap: 1rem;
      font-size: 10px;
    }
  }

}

@media screen and (max-width: 900px) {
  .users {
    padding: 22px 2.1rem 0rem 2.1rem;
  }
}

@media screen and (max-width: 800px) {
  .users {

    .ttl {
      margin-bottom: 1.5rem;
    }

    section.tableHeader,
    div.tableBodyItem {
      grid-template-columns: 0.8fr 0.8fr 1fr 0.8fr 1.2fr 1fr;

    }

    .miniCard {
      width: 100%;
      margin: 24px 0px 40px 0px;
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;

    }

    .ttl {
      font-size: 20px;
    }

    .ttl::before {
      width: 10px;
      height: 30px;
    }
  }
}

@media screen and (max-width: 500px) {
  .users {
    .miniCard {
      grid-template-columns: 1fr;
      gap: 0.5rem;
    }
  }
}