.main {
  position: relative;

  .sideBar::-webkit-scrollbar {
    width: 0;
    /* for Chrome, Safari, and Opera */
  }

  .sideBar {
    margin-top: 100px;
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    z-index: 2;
    overflow: auto;
    padding-top: 23px;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.03);
    scrollbar-width: none;

    .sidebarList {
      color: var(--white);
      margin-bottom: auto;
      list-style: none;
      height: 100%;
      display: flex;
      flex-direction: column;

      li:first-of-type {
        color: var(--text-main);
        font-weight: 400;
        font-size: 16px;
        margin-bottom: 35px;
      }

      li:last-of-type {
        margin-top: auto;
      }

      .sidebarItem {
        margin-bottom: 11px;
        padding: 8px 3.2rem 8px 1.8rem;
        font-size: var(--heading-4);
        color: var(--text-tetiary);

        .sidebarType {
          display: flex;
          align-items: center;
        }

        a.sidebarType {
          color: var(--white);
          text-decoration: none;
        }

        a {
          .sidebarIcon {
            margin-right: 0.6rem;
            width: 16px;
            // height: 15px;

            path {
              fill: var(--text-tetiary);
            }
          }

          .activeIcon {
            path {
              fill: var(--text-main);
            }
          }

          .downIcon {
            transform: rotate(90deg);
            margin-left: 10px;
          }
        }

      }

      .activeItem {
        border-left: 3px solid #39CDCC;
        color: var(--text-main);
        background: rgba(57, 205, 204, 0.06);
      }

      .header {
        margin-top: 6px;
        font-size: 12px;
        color: var(--text-others);
        font-weight: 500;
        margin-bottom: 0;
        padding: 0.4rem 5rem 0.4rem 0.8rem;
      }

      .last {
        margin-bottom: 1.5rem;
      }
    }
  }

  .navBar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    padding: 10px 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    z-index: 2;
    color: var(--text-main);

    .profileSec {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      font-size: 16px;

      .logo {
        height: 30px;
      }

      .search {
        width: 400px;
        margin-left: -10%;
      }

      .details {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-right: 3%;

        .docs {
          text-decoration: underline;
        }

        .img {
          width: 48px;
          height: 48px;
        }

        .name {
          font-weight: 700;
          display: flex;
          margin-left: -10%;
        }
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: contain;
        margin-right: 1rem;
      }
    }
  }

  .content {
    padding: 2rem;
    width: calc(100% - 260px);
    margin-left: 260px;
    position: absolute;
    top: 100px;
    background: rgba(57, 205, 204, 0.06);
    z-index: -1;
  }

  .content::-webkit-scrollbar {
    width: 0;
    /* for Chrome, Safari, and Opera */
  }
}

.menuBtn {
  display: none;
}

.menuDropdown {
  right: unset !important;
  left: 35px;
  top: 3rem !important;
}

.menuDropdown svg {
  right: unset;
  left: 26px;
}

@media screen and (max-width: 1100px) {
  .main {
    .navBar {
      padding-left: 1rem;
      padding-right: 1rem;

      .profileSec {
        .search {
          width: 250px;
        }
      }
    }

    .sideBar {
      display: none !important;
    }

    .content {
      width: 100%;
      padding: 1rem;
      margin-left: 0;
    }

    .logo svg {
      width: 28px;
    }

    .logo p {
      font-size: 22px;
    }
  }
}

@media screen and (max-width: 900px) {
  .main {
    .navBar {
      .profileSec {
        .logo {
          width: 100px;
        }

        .search {
          margin-left: 0;
        }

        .details {
          .docs {
            display: none;
          }

          .img {
            display: none;
          }

          .noti {
            display: none;
          }
        }
      }
    }

    .content {
      padding: 0px;
    }
  }
}

@media screen and (max-width: 800px) {
  .main {
    .navBar {
      height: 70px !important;
    }

    .sideBar {
      display: none;
    }

    .content {
      width: 100%;
      margin-left: 0;
      top: 40px;
      padding: 1.5rem 0rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .main {
    .navBar {
      .profileSec {
        .search {
          display: none;
        }
      }
    }

    .logo svg {
      width: 22px;
    }

    .logo p {
      font-size: 16px;
      margin-left: 6px;
    }

    .sidebarList {
      right: 1rem;
      margin-top: 57px;
    }

    .content {
      top: 40px;
    }
  }
}